<div ng-controller="jobListCtrl">
  <my-header info="currentUser"></my-header>
  <div class="main">
    <div class="container list">
      <div ng-if="list.length > 0">
        <ul class="rowList" ng-repeat="item in list">
          <li>
            <input id={{item.id}} type="checkbox"
                   class="toggle"
                   ng-model="item.isActive"
                   ng-click="choose(item, $index)"
                   ng-true-value="1"
                   ng-false-value="0">
          </li>
          <li>{{item.fileName}}</li>
          <li>{{item.numberOfCopiesT}}份 / {{item.numberOfPages}}页 / {{item.colorMode ? '彩色' : '黑白'}}/{{!item.singleAndDoubleSides ? '单面' : '双面'}}</li>
          <li>{{item.createTime}}</li>
          <li>
            <img src="./assets/images/edit@2x.png" ng-click="editDialog(item)"/>
          </li>
        </ul>
        <my-page info="pageInfo"
                 on-first="first()" on-before="before()" on-next="next()" on-last="last()"></my-page>
      </div>
      <div ng-if="list.length === 0" class="empty">
        <img src="./assets/images/empty@2x.png" alt="">
      </div>
    </div>
    <p class="btnGroup">
      <label class="deleteBtn" ng-click="moreDel()"><img src="./assets/images/delete@2x.png" alt="">删除</label>
      <span>
        <label class="refreshBtn"><img src="./assets/images/refresh@2x.png" alt="">刷新</label>
         <label class="printBtn"><img src="./assets/images/print@2x.png" alt="">打印</label>
      </span>
    </p>
  </div>
  <my-dialog ng-hide="dialogIsHidden" info="dialogInfo">
    <span class="d_btn whiteBtn" ng-click="close()">取消</span>
    <span class="d_btn deleteBtn" ng-click="handleJobDelete()">删除</span>
  </my-dialog>

  <div ng-hide="editDialogIsHidden">
    <div id="fullbg"></div>
    <div class="dialog">
      <div class="d_content">
        <div class="printEdit">
          <ul>
            <li>份数</li>
            <li ng-click="minusNumber()">-</li>
            <li>{{numberIndex}}</li>
            <li ng-click="addNumber()">+</li>
          </ul>
        </div>
      </div>
      <p class="d_bottom">
        <span class="d_btn whiteBtn" ng-click="close()">取消</span>
        <span class="d_btn printBtn" ng-click="handleEdit()">确认</span>
      </p>
    </div>
  </div>
</div>
