/*dialog start*/
.dialog{
    position: fixed;
    _position:absolute;
    z-index:1100;
    top: 50%;
    left: 50%;
    margin: -82px 0px 0px -164px;
    width: 328px;
    height:163px;
    font-size: 14px;
    background-color:#fff;
    overflow:hidden;
    border-radius: 10px;
    text-align: left;
    /*display: none;*/
}
#fullbg {
    background-color:#000000;
    left:0;
    opacity:0.5;
    position:fixed;
    top:0;
    z-index:1001;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    width:100%;
    height: 100%;
}
.d_btn{
    width: 70px;
    line-height: 30px;
    height: 30px;
    border-radius: 17px;
    border: 1px solid #313B6B;
    text-align: center;
    position: relative;
    top: 10px;
    display: inline-block;
    margin: 0px 10px;
}
/*黑色按钮样式*/
.d_bottom .blackBtn{
    background: #282F50;
    color: #fff;
}
/*白色按钮样式*/
.d_bottom .whiteBtn{
    color:#000000;
}
/*扫描按钮样式*/
.d_bottom .scanBtn{
    background: #55B9F1;
    border: 1px solid #55B9F1;
    color: #ffffff;
}
.d_bottom .copyBtn{
    background: #727FFE;
    border: 1px solid #727FFE;
    color: #ffffff;
}
/*打印按钮样式*/
.d_bottom .printBtn{
    background: #F7B247;
    border: 1px solid #F7B247;
    color: #ffffff;
}
/*删除按钮*/
.d_bottom .deleteBtn{
    background: #FE2D69;
    border: 1px solid #FE2D69;
    color: #ffffff;
}
.d_bottom{
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.d_content{
    text-align: center;
    padding-top: 43px;
    font-size:18px;
    position: absolute;
    width: 100%;
}

/*dialog end*/
